* {
    padding: 0;
    margin: 0;
}

body,
html {
    min-height: 100%;
}

body {

    height: 100vh;
    background-image: url(../images/contact\ back\ photo.avif);
    /* background-image: linear-gradient(95deg, rgb(90, 90, 90) 50%, rgb(255, 243, 70) 50%); */



}

.header-main {
    width: 100%;
    height: 17vh;
    margin-top: 1vw;
    display: flex;

    div {
        padding-left: 3vw;

        img {
            width: 5vw;
            padding-top: 1.2vw;
            /* border-radius: 90vw; */
        }
    }

    ul {
        list-style: none;
        display: flex;
        line-height: 8vw;

        li {
            margin-left: 5vw;

            a {
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                color: rgb(0, 0, 0);
                font-size: 1.5vw;
                font-weight: bold;
                text-decoration: none;

                i {
                    font-size: 2vw;
                }

            }

            input {
                width: 15vw;
                border: solid 0.2vw black;
            }

        }
    }
}

.a-1:hover {
    transition-duration: 0.1s;
    /* background-image: linear-gradient(95deg, rgb(90, 90, 90) 50%, rgb(255, 243, 70) 50%); */
    background-image: url(../images/contact\ back\ photo.avif);
   box-shadow: 0vw 0vw 2vw 1vw rgb(235, 248, 45);
    color: rgb(255, 255, 255);
    padding: 2vw;
    border-radius: 25vw;
}

.main-form {
    text-align: center;
    width: 30vw;
    background-color: rgba(123, 123, 123, .5);
    margin: 2vw 0vw 0vw 33vw;
    padding: 2vw;

    h1 {
        font-size: 3vw;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 5vw;
    }

    input,
    textarea {
        height: 3vw;
        width: 30vw;
        background-color: rgba(130, 85, 85, 0.5);
        border: 0;
        border-bottom: 2px solid black;

    }

    ::placeholder {
        font-size: 1vw;
        color: white;
        font-weight: bold;
    }

    .contact-button {
        color: #fff;
        border: 4px solid white;
        background-color: rgba(130, 85, 85, 0.5);
        font-size: 1.1vw;
        margin-top: 5vw;
        padding: 1vw 6vw;
        cursor: pointer;
    }
}

.main-address {
    font-size: 2vw;
    margin-top: 3vw;
    text-align: center;
    color: white;
    background-color: black;
}

@media only screen and (max-width:600px) {

    .header-main {
        display: grid;
        height: fit-content;
        width: fit-content;

        ul {

            display: grid;

            .a-1 {
                color: white;
                font-size: 3vw;

                i {
                    font-size: 3vw;
                }
            }

            input {
                width: 3vw;
                height: 3vw;
            }
        }

    }

    .main-form {
        margin-top: -30vw;
    }

.main-address{
    margin-top: 30vw;
}







}